.fade-enter{
    opacity: 0;
}
.fade-enter.fade-enter-active{
    opacity: 1;
    transition: all .3s;
}
.fade-leave{
    opacity: 1;
}
.fade-leave.fade-leave-active{
    opacity: 0;
    transition: all .3s;
}